#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
.card {
  margin: auto 0;
  padding: 20%;
  border: 4px solid white;
  border-radius: 10%;
}